.square-box-container{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2bbbb; 
}
.square-box-container:hover{
    cursor: pointer;
}
