
@font-face {
	font-family: 'AGNextBNBoldExtra';
	src: url('./AGNextExtraBold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AGNextBNBold';
	src: url('./AGNextBold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AGNextBlack';
	src: url('./AGNextLight.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AGNextMedium';
	src: url('./AGNextMedium.otf');
	font-style: normal;
}

@font-face {
	font-family: 'AGNextRegular';
	src: url('./AGNextRegular.otf');
	font-style: normal;
}

@font-face {
	font-family: 'AGNextExtraLight';
	src: url('./AGNextExtraLight.otf');
	font-style: normal;
}

